body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(204, 221, 215);
}

.div1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -30px;
}

img{
    height: 250px;
    width: 250px;
}

p{
    font-size: 7rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: -230px;
    color: green;
    animation: 1s vic ease-in-out infinite;
}
@keyframes vic{
    0%{
        opacity: 1;
    }
    50%{
        color: darkblue;
    }
}

h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.5rem;
    margin-top: -50px;
    color: darkblue;
}


.inp1{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-left: 450px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 20px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-color: #00ff66;
    color: blue;
}

.btn{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: darkblue;
    background-color: white;
    position: relative;
    top: -40px;
    left: 20px;
    cursor: pointer;
    transition: 1s;
}

.btn:hover{
    background-color: yellow;
}

#div2{
    display: none;
    width: 600px;
    height: 450px;
    background-color: rgb(0, 255, 128);
    margin: auto;
}

h2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
    color: darkblue;
    margin-top: 20px;
    text-decoration: underline;
}

#ans{
    background-color: white;
    width: 500px;
    height: 100%;
    margin: auto;
    border-radius: 25px;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: darkblue;
    text-align: center;
}

h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: darkblue;
    text-align: center;
    cursor: pointer;
}

.quest1{
    margin: auto;
    margin-top: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.089);
    height: 100%;
    width: 80%;
    border-radius: 30px;
    box-shadow: 0px 0px 80px 0px darkblue;
}

#btns{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.btn1{
    height: 40px;
    width: 90px;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: darkblue;
    background-color: white;
    cursor: pointer;
    transition: 1s;
}

.btn1:hover{
    background-color: yellow;
    color: black;
}

@media(max-width:768px){
    .div1{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }

    img{
        width: 100px;
        height: 100px;
        margin-left: 0px;
    }

    p{
        font-size: 2.5rem;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-left: -30px;
        color: yellow;
    }

    h1{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.5rem;
        margin-top: 20px;
        color: white; 
    }

    .inp1{
        width: 220px;
        height: 40px;
        margin-top: 10px;
        margin-left: 20px;
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        padding-left: 20px;
        border-bottom-right-radius: 35px;
        border-top-left-radius: 35px;
        border-color: #00ff66;
        color: blue;
    }

    .quest1{
        margin: auto;
        margin-top: 50px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: darkblue;
        background-color: rgba(255, 255, 255, 0.089);
        height: 100%;
        width: 100%;
        border-radius: 30px;
        box-shadow: 0px 0px 80px 0px;
        }

        h2{
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 2rem;
            color: darkblue;
            margin-top: 50px;
            text-decoration: underline;
        }

        #ans{
            background-color: white;
            width: 300px;
            height: 100%;
            margin: auto;
            border-radius: 20px;
        }

        #btns{
            width: 350px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: auto;
        }

        h3{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.4rem;
            color: darkblue;
            text-align: center;
        }

        h4{
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1rem;
            color: darkblue;
            text-align: center;
            cursor: pointer;
        }

}