body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: teal;
}

.div1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -30px;
}

img{
    height: 250px;
    width: 250px;
    animation: 1.5s bat ease-in-out;
}
@keyframes bat{
    0%{
       transform: translateX(1100px);
    }
    100%{
        transform: translateX(0px);
    }
}

p{
    font-size: 7rem;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: -230px;
    color: whitesmoke;
    animation: 1.5s vic ease-in-out;
}

@keyframes vic{
    0%{
       transform: translateX(1100px);
    }
    100%{
        transform: translateX(0px);
    }
}

h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    margin-top: -50px;
    color: whitesmoke;
    animation: 1.5s rate ease-in-out;
}

@keyframes rate{
    0%{
       transform: translateX(-1200px);
    }
    100%{
        transform: translateX(0px);
    }
}

section{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.inp1{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: teal;
    font-weight: bold;
    padding-left: 20px;
    border: none;
    border-radius: 30px;
    animation: 1.5s tray ease-in-out;
    outline: none;
}
@keyframes tray{
    0%{
       transform: translateY(-1100px);
    }
    100%{
        transform: translateY(0px);
    }
}

.btn{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: teal;
    background-color: white;
    cursor: pointer;
    transition: 1s;
    outline: none;
}

.btn:hover{
    background-color: yellow;
}

#div2{
    display: none;
    width: 600px;
    height: 450px;
    background-color: rgb(0, 255, 128);
    margin: auto;
}

h2{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4rem;
    color: white;
    margin-top: 20px;
    text-decoration: underline;
}

#ans{
    background-color: teal;
    width: 500px;
    height: 100%;
    margin: auto;
    border-radius: 25px;
}

h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: white;
    margin-top: -40px;
    text-align: center;
}

h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    cursor: pointer;
}

.quest1{
    margin: auto;
    margin-top: 50px;
    text-align: center;
    background-color: teal;
    height: 100%;
    width: 80%;
    border-radius: 30px;
}

#btns{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.btn1{
    height: 40px;
    width: 90px;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: teal;
    background-color: white;
    cursor: pointer;
    transition: 1s;
}

.btn1:hover{
    background-color: yellow;
    color: black;
}

@media(max-width:768px){
    .div1{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }

    img{
        display: none;
    }

    p{
        font-size: 3rem;
        font-weight: bold;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: -30px;
        text-align: center;
    }

    h1{
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2rem;
        margin-top: -20px;
        color: white; 
    }

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .inp1{
        width: 220px;
        height: 40px;
        margin-top: px;
        margin-left: 0px;
        font-size: 18px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        padding-left: 20px;
        color: teal;
    }
    .btn{
        height: 70px;
        width: 70px;
        border-radius: 30%;
        border: none;
        font-size: 18px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        color: teal;
        background-color: white;
        cursor: pointer;
        transition: 1s;
        margin-top: 15px;
    }
    .quest1{
        margin: auto;
        margin-top: 50px;
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        background-color: teal;
        height: 100%;
        width: 100%;
        }

        h2{
            text-align: center;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 2rem;
            color: white;
            margin-top: 50px;
            text-decoration: underline;
        }

        #ans{
            background-color: teal;
            width: 300px;
            height: 100%;
            margin: auto;
            border-radius: 20px;
        }

        #btns{
            width: 350px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: auto;
        }

        h3{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1.4rem;
            color: white;
            text-align: center;
            margin-top: 20px;
        }

        h4{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1rem;
            color: white;
            text-align: center;
            cursor: pointer;
        }
        .btn1{
            height: 40px;
            width: 90px;
            border-radius: 30px;
            border: none;
            font-size: 17px;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            color: teal;
            background-color: white;
            cursor: pointer;
            transition: 1s;
            margin-left: 10px;
        }

}